<%- include ('partials/header.ejs') %>

<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="/views/perguntar">
            <img src="/public/img/guia">
        </a>
    </nav>

    <div>

        <div class="container">
            <br>
            <hr>
            <h3>Perguntas feitas</h3>
            <hr>
            <% Pergunta.forEach(Pergunta => { %>

            <div class="card">
                <br>
                <div class="car-body">

                    <h3>
                        <p><%= Pergunta.titulo  %> </p>
                    </h3>

                </div>
                <div class="card-footter">
                    <button class="btn btn-primary">responder</button>
                </div>
            </div>
            <% }) %>

        </div>

    </div>





</body>

<%- include ('partials/footer.ejs') %>